// Progress bar
.progressBar {
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: #323558;

  .progress {
    background-color: var(--submit-button);
    display: block;
    height: 100%;
  }
}

// Counters
.counters {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .counter,
  .score {
    background-color: var(--secondary-bg-color);
    color: var(--light-grey);
    border-radius: 30px;
    font-size: 0.8rem;
    padding: 6px 15px;
    margin: 3em 0;
    width: 75px;
    text-align: center;

    .active {
      color: #fff;
    }
  }

  .timer {
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--secondary-color);
    font-size: 2rem;
  }

  .timer {
    position: relative;
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    border-radius: 50%;
    background-color: #f0f0f0; /* Light grey background color */
  }

  .timer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 50%;
    clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
    transition: clip-path 1s linear;
  }

  .timer-overlay.half {
    clip-path: polygon(50% 0%, 0% 0%, 0% 100%, 100% 0%);
  }

  .timer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
  }
}
