.quizContainer {
  background-color: var(--primary-bg-color);
  padding: var(--general-smaller-padding);
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  // min-width: 320px;
  // max-width: 400px;
  width: 320px;

  // Answer container
  .checkAnswerContainer {
    height: 100px;
    text-align: center;

    .questionText {
      text-align: start;
    }

    p {
      padding: var(--general-mini-padding);
      font-size: 0.8rem;
      font-weight: 500;
      white-space: break-spaces;
    }
  }

  .questionContainer {
    padding: var(--general-padding) 0;
  }
  @media (min-width: 670px) {
    height: inherit;
  }
}
