.quizContainer {
  background-color: var(--primary-bg-color);
  padding: var(--general-smaller-padding);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  min-width: 320px;
  max-width: 400px;

  .counter {
    background-color: var(--secondary-bg-color);
    color: var(--light-grey);
    border-radius: 30px;
    font-size: 0.8rem;
    padding: var(--general-mini-padding);

    .active {
      color: #fff;
    }
  }

  .checkAnswerContainer {
    text-align: center;

    h4 {
      font-size: 1.1rem;
    }
    p {
      padding: var(--general-mini-padding);
      font-size: 0.8rem;
      font-weight: 500;
      white-space: break-spaces;
    }
  }
  @media (min-width: 670px) {
    height: inherit;
  }
}
