// Answer container
.headerContainer {
  // height: 100px;
  text-align: center;

  img {
    width: 300px;
  }

  .questionText {
    text-align: start;
  }

  p {
    padding: var(--general-mini-padding);
    font-size: 0.8rem;
    font-weight: 500;
    white-space: break-spaces;
  }
}
