.questionContainer {
  // padding: var(--general-smaller-padding) 0;

  .correct {
    background-color: var(--right-answer-button);
    border: 1px solid var(--button-border-color);
    color: #fff;
  }

  .incorrect {
    background-color: var(--primary-bg-color);
    border: 1px solid #8b0802;
    color: #92a4b0;
    text-decoration: line-through;
  }
}
.noAnswer {
  font-size: 0.7rem;
  color: red;
  font-weight: 500;
}

.quizBody {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
