@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700;800&family=Poppins:wght@100;300;400;700;900&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-weight: 700;
}
:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --primary-bg-color: #05061b;
  --secondary-bg-color: #d9d9d959;
  --primary-text: #f7f7f7;
  --secondary-text: #a49aca;

  --secondary-color: #ff706a;
  --light-grey: #aeafb4;

  --selection-button: #323558;
  --selected-button: #2cacd3;
  --submit-button: #6958d6;
  --right-answer-button: #4dcebe;
  --button-border-color: #fff;

  --general-padding: 35px;
  --general-smaller-padding: 20px;
  --general-mini-padding: 10px;

  --border-radius: 10px;
}

/* GENERAL*/
body {
  font-family: "Poppins", "Montserrat", sans-serif;
  background-color: var(--primary-bg-color);
  height: 100vh;
  color: var(--primary-text);
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}
li {
  padding: var(--general-mini-padding) 0;
}

h2 {
  font-size: 1.1rem;
}

button,
input {
  background-color: var(--selection-button);
  color: var(--secondary-text);
  border-radius: var(--border-radius);
  border: none;
  width: 100%;
  text-align: start;
  padding: var(--general-mini-padding);
  height: 45px;
  font-size: 0.9rem;
}

button:active {
  background-color: var(--selected-button);
  color: #fff;
}

button.submit {
  background-color: var(--submit-button);
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  padding: var(--general-mini-padding) 0;
  margin: 0.5em 0;
}

input {
  color: var(--secondary-text);
  background-color: var(--primary-bg-color);
  border: 1px solid #808080;
}

.quizContainer {
  background-color: var(--primary-bg-color);
  padding: var(--general-smaller-padding);
  padding-bottom: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 520px;
  position: relative;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.29);

  &.end {
    justify-content: end;
  }

  .squareLeft,
  .squareRight {
    height: 150px;
    width: 150px;
    top: -4px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 15;
  }

  .squareLeft {
    background-image: url("./assets/squareLeft.svg");
    left: 0;
  }

  .squareRight {
    background-image: url("./assets/squareRight.svg");
    right: -91px;
  }
  @media (min-width: 670px) {
    height: inherit;
  }
}
